# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/inspectionProfiles/Project_Default.xml
/inspectionProfiles/profiles_settings.xml
/tsp_sfr3.iml
/modules.xml
/misc.xml
/git_toolbox_blame.xml
